<h1>Create a new Search</h1>

<%= form_for @search do |f| -%>
  <fieldset>
    <div class="control-group">
      <%= f.label :grammar, class: "control-label" %>

      <div class="controls">
        <%= f.text_area :grammar, style: "width: 800px; height: 300px;" %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :evaluation_url, class: "control-label" %>
      
      <div class="controls">
        <%= f.text_field :evaluation_url %>
      </div>
    </div>
    
    <div class="control-group">
      <div class="controls">
          <%= f.submit class: "btn btn-primary" %>
          <%= link_to "Cancel", searches_path, class: "btn" %>
      </div>
    </div>
  </fieldset>
<% end -%>


