<h1>Create a new Search</h1>

<%= form_for @search  do |f| -%>
  <fieldset>
    <%= f.label :grammar, class: "control-label" %>
    <%= f.text_area :grammar %>
    
    <%= f.label :evaluation_url, class: "control-label" %>
    <%= f.text_field :evaluation_url %>
    
    <%= f.submit class: "btn-primary" %>
  </fieldset>
<% end -%>

<%= link_to "View all searches", searches_path %>
